.container {
  width: 960px;
}

.grid {
  display: flex;
}

.cell {
  width: 10px;
  height: 10px;
  background-color: red;
  border: 1px black solid;
  text-align: center;
}

.hover {
  background-color: white;
}
