body {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
}

.grid {
  display: flex;
  width: 960px;
}

.cell {
  height: 5px;
  width: 5px;
  background-color: red;
}

.hover {
  background-color: white;
}
